@model IEnumerable<Books.Models.Book>
@{
    ViewBag.Title = "Books";
}
<link href="~/Content/icofont.min.css" rel="stylesheet" />
<link href="~/Content/icofont.css" rel="stylesheet" />

<h2 class="text-primary">Books</h2>

<hr />
<a href="@Url.Action("Create")" class="btn btn-primary"> Add New</a>
<hr />

<span id="Message" class="d-none">@TempData["Message"]</span>


<div class="alert alert-warning @(Model.Any() ? "d-none" : "")">
     No Books Added Yet!
</div>

<table class="table @(Model.Any() ? "" : "d-none")">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Description</th>
                <th>Added On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.ActionLink(book.Title, "Details", "Books", new {id = book.Id}, null)</td>
                    <td>@book.Author</td>
                    <td>@book.Category.Name</td>
                    <td>@book.Description</td>
                    <td>@book.AddedOn</td>
                    <td>
                        <a href="@Url.Action("Edit", "Books", new {id = book.Id})" class="btn btn-primary">Edit</a>
                        <a href="javascript:;" class="btn btn-danger js-delete" data-id="@book.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>


@section Scripts
{
    <script>
        $(document).ready(function () {

            toastr.options = {
                "preventDuplicates": true
            }

            var message = $("#Message").text();
            if (message !== '') {
                toastr.success(message)
            }

            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: 'Are you sure that you need to delete this book?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/api/books/' + btn.data('id'),
                                method: 'DELETE',
                                success: function () {

                                    if ($('tbody tr').length === 1) 
                                        $('table').fadeOut(function () {
                                            this.remove();
                                            $('.alert').removeClass('d-none');
                                        });

                                    else 
                                    btn.parents('tr').fadeOut(function () {
                                        this.remove();
                                    });

                                    toastr.success('Book Deleted!')
                                },
                                error: function () {
                                    toastr.error('Something went wrong!')
                                }

                            })
                        }
                    }
                });
            });
        });

    </script>
}