@model Books.Models.Category
@{
    ViewBag.Title = "Create";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-primary">
                @(Model.Id == 0 ? "Add New Category" : "Edit Category")
            </h3>
            <hr />

            @using (Html.BeginForm("Save", "Category"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>

                <div class="form-group mt-3">
                    <div class="custom-control custom-switch">
                        @Html.LabelFor(m => m.IsActive, htmlAttributes: new { @class = "custom-control-label" })
                        <div class="custom-control custom-switch">
                            @Html.EditorFor(m => m.IsActive, new { htmlAttributes = new { @class = "custom-control-input" } })
                            @Html.ValidationMessageFor(m => m.IsActive, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Save</button>
            }
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
